/* Font Face */
@font-face {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(sansation_light.woff);
  }

  /* element {
    --main-font-family: brown;
  } */

.notes-app {
    background-color: lightsalmon;
    flex-grow: 2;
}

.note-preview {
    background-color: whitesmoke;
    font-size: 20px;
    font-family: 'Roboto';
    width: 300px;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all .3s ease;
    user-select: none;
}