/* Font Face */
/* @font-face {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(sansation_light.woff);
  } */

  /* element {
    --main-font-family: brown;
  } */

.notes-app {
    background-color: tomato;
    flex-grow: 2;
    /* padding-left: 30px; */
    padding: 20px;
}

.notes-app h4 {
    color: white;
    margin: 20px;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 16x;
}

.notes-to-show {
    /* display: grid; */
    /* grid */
    /* margin: 20px; */
}

.sexiness {
    /* background-color: #e0f0ff; */
    background-color: yellow;
  }

.sexiness2 {
    background-color: #e0f0ff;
    color: black;
}
 
.note-preview {
    background-color: whitesmoke;
    font-size: 20px;
    font-family: 'Roboto';
    word-break: break-all;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all .3s ease;
    user-select: none;
    transition: .3s ease;
    border: 1px solid transparent;
    position: relative;
    padding-bottom: 50px;
}
.note-preview:hover {
    border: 1px solid black;
}

/* .note-preview:hover::before {
    content: 'x';
    position: absolute;
    top: 5;
    left: 5;
    width: 20px;
    height: 20px;
    background-color: black;
} */



.note-filter {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
}

.note-filter input {
    min-width: 300px;
    height: 15px;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid gray;
    outline: none;
    font-size: 16px;
    font-family: 'Roboto';
    background-color: rgb(247, 241, 241);
    transition: .2s linear;
}

.note-filter input:focus {
    background-color: white;
    /* border: 1px solid blue; */
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.note-preview-snippet p {
    font-size: 16px; 
    margin-bottom: 35px;
    /* word-break: break-all; */
}

.note-preview-snippet pre {
    word-break: keep-all; 
}
.note-preview-snippet h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}

.note-label-preview {
    font-size: 14px;
    background-color: rgb(87, 81, 81);
    opacity: .5;
    color: white;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 2px solid whitesmoke;
    padding: 6px 10px;
    border-radius: 18px;
    word-break: keep-all;
}

.labels-container {
    /* width: 200px;
    height: 200px; */
    display: inline-block;
}


.btn {
    width: auto;
    height: 60px;
    background-color: rgb(180, 68, 180);
    color: white;
    border-radius: 50px;
    cursor: pointer;
    margin: 30px;
    font-family: 'Roboto';
    font-size: 18px;
    padding: 10px 40px;
    transition: .3s ease;
    outline: none;
}

.btn:hover {
    background-color: rgb(199, 108, 199);
}

.note-controls-placeholder {
    height: 40px;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.87);
    border-top: 1px solid lightgray;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    left: 0;

}
.note-controllers-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    color: gray
}

.note-controllers-container i{
    transition: .3s ease;
}
.note-controllers-container i:hover{
    color:black
}
.note-controllers-container .fa-trash:hover{
    transform: rotate(23deg)
}

.fade-enter-active, .fade-leave-active {
    /* transition: opacity .9s ease; */
    transform: translate(-10px 0);
    transition: all .8s ease;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transition: all .8s ease;
  }

  .masonry-brick {
      /* transition: .8s ease; */
  }

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }