/* Font Face */
/* @font-face {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(sansation_light.woff);
  } */

  /* element {
    --main-font-family: brown;
  } */
 
.notes-app {
    background-color: white;
    flex-grow: 2;
    /* padding-left: 30px; */
    padding: 20px;
}

.notes-app h4 {
    color: black;
    margin: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16x;
}

.notes-to-show {
    /* display: grid; */
    /* grid */
    /* margin: 20px; */
}

.add-img-btn {
    /* width: 50px;
    height: 50px;
    background-color: red; */

    display: inline-block;
    width: 120px;
    padding: 60px 0 0 0;
    height: 50px;
    overflow: hidden;
    box-sizing: border-box;
    background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
    object-fit: contain;
    border-radius: 20px;
    background-size: 60px 60px;
}

.sexiness {
    /* background-color: #e0f0ff; */
    background-color: yellow;
  }

.sexiness2 {
    background-color: #e0f0ff;
    color: black;
}
 
.note-preview {
    /* padding: 20px; */
    border-radius: 8px;
    overflow: hidden;
    background-color: whitesmoke;
    font-size: 20px;
    font-family: 'Roboto';
    word-break: break-all;
    margin-bottom: 20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    user-select: none;
    transition: .3s ease;
    /* border: 1px solid transparent; */
    position: relative;
    padding-bottom: 50px;
    transition: all .3s ease;
}
.note-preview:hover {
    /* border: 1px solid black; */
    box-shadow:0 0 10px rgba(77, 100, 204, 0.5);
    transform: translate(0 ,-5px);
    z-index: 1;
    
}

.note-filter {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
}

.input-filter-by-text {
    min-width: 100px;
    width: auto;
    height: 15px;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid gray;
    outline: none;
    font-size: 16px;
    font-family: 'Roboto';
    background-color: rgb(247, 241, 241);
    transition: .2s linear;
}


.input-filter-by-text:focus {
    background-color: white;
    /* border: 1px solid blue; */
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.note-preview-snippet {
    padding: 20px;
}

.note-preview-snippet p {
    font-size: 16px; 
    margin-bottom: 35px;
    /* word-break: break-all; */
}

.note-preview-snippet pre {
    word-break: keep-all; 
}
.note-preview-snippet h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}

.note-label-preview {
    font-size: 14px;
    background-color: rgb(87, 81, 81 ,15%);
    color: black;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 2px solid whitesmoke;
    padding: 8px 10px;
    border-radius: 18px;
    word-break: keep-all;
}

.labels-container {
    /* width: 200px;
    height: 200px; */
    display: inline-block;
}


.btn2 {
    width: auto;
    height: 60px;
    background-color: rgb(180, 68, 180);
    color: white;
    border-radius: 50px;
    cursor: pointer;
    margin: 30px;
    font-family: 'Roboto';
    font-size: 18px;
    padding: 10px 40px;
    transition: .3s ease;
    outline: none;
}
.btn {
    min-width: auto;
    height: 60px;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid gray;
    outline: none;
    font-size: 16px;
    font-family: 'Roboto';
    background-color: rgb(247, 241, 241);
    transition: .2s linear;
    position: relative;
    left: 50%;
    transform: translate(-50%,0)
} 

.btn:hover {
    background-color: rgb(199, 108, 199);
}

.note-controls-placeholder {
    height: 40px;
    width: 100%;
    /* background-color: rgba(245, 245, 245, 0.87); */
    border-top: 1px solid lightgray;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    left: 0;

}
.note-controllers-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    color: gray
}

.note-controllers-container i{
    transition: .3s ease;
}
.note-controllers-container i:hover{
    color:black
}
.note-controllers-container .fa-trash:hover{
    transform: rotate(23deg)
}

.fade-enter-active, .fade-leave-active {
    /* transition: opacity .9s ease; */
    transform: translate(-10px 0);
    transition: all .8s ease;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transition: all .8s ease;
  }

  .masonry-brick {
      /* transition: .8s ease; */
  }

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }

  .color-picker {
      width: 60%;
      height: auto;
      /* width: 130px;
      height: auto; */
      background-color: whitesmoke;
      position: absolute;
      border-radius: 8px;
      border:1px solid gray;
      padding: 20px;
      transition: .3s ease;
      z-index: 2;
      /* top: -155px; */
      top: -220%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
  }

  .color-circle {
      width: 20px;
      height: 20px;
      border-radius: 50px;
      margin: 3px;
      border:1px solid rgb(17, 17, 17,0.5);
  }

  .note-add {
      background-color: whitesmoke;
      width: 60%;
      height: auto;
      padding: 20px;
      border-radius: 8px;
      box-shadow:0 0 10px rgba(0, 0, 0, 0.25);
      transition-duration: .8s ease;
      position: absolute;
      z-index: 2;
      left: 50%;
      top: 15%;
      transform: translate(-50%,0);
  }

  .add-note-field {
      /* background-color: red; */
  }

  .add-note-textBox {
    background-color:transparent;
    border: none;
    font-size: 1.2em;
    margin-bottom: 20px;
    outline: none
  }

  .add-note-textBox:focus  .add-note-textArea:focus {
      outline: none;
  }

  .add-note-textArea {
    background-color:transparent;
    border: none;
    font-size: 1.3em;
    height: 100px;
    outline: none;
    width: 100%;
  }

  .note-add-form {
      position: relative;
  }

  
.btn {
    width: auto;
    height: 60px;
    padding: 10px 40px;
    background-color: rgb(180, 68, 180);

    margin: 30px;

}

  .save-note-btn {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: auto;
      height: 40px;
      padding: 10px 20px;
      color: black;
      background-color: transparent;
      border-radius: 8px;
      cursor: pointer;
      font-size: 15px;
      transition: .3s ease;
      font-family: 'Roboto';
      outline: none;
      border:none;
  }

 

  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 1.5em;
    height: 1.5em;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    padding: 2px;
    cursor: pointer;
  }

  .save-note-btn:hover , .close-btn:hover  {
    background-color: lightgray;
  }

  .take-a-note {
      /* position: absolute; */
      transition: .3s ease;
      min-width: 60%;
      height: auto;
      border-radius: 8px;
      padding: 20px;
      border: 1px solid gray;
      outline: none;
      font-size: 16px;
      font-family: 'Roboto';
      /* background-color: rgb(247, 241, 241); */
      transition: .2s linear;
  }

  .add-note-container {
      height: 80px;
  }

  .overlayer {
      height: 200vh;
      background-color: rgb(8, 8, 8 ,80%);
      z-index: 1;
      box-sizing: border-box;
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
      margin-top: calc(-50vh + 50%);
      margin-bottom: calc(-50vw + 50%);
  }

  .note-img, .note-vid {
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
      position: relative;
      top: 0;
      left: 0;
      border: none;
  }

  .note-aud {
      position: relative; 
      left: 50%;
      transform: translate(-50%,40%);
      /* min-width: 300px; */
      /* margin: 5px; */
      min-width: 230px;
      width: auto;
      margin-bottom: 20px;
    }

