@import url('./reset.css');
@import url('./books.css');
@import url('./keep.css');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: lightgreen;
}

.home-apps {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-grow: 2;
    padding: 50px;
    width: 85%;
    margin: 0 auto;
}
.creator-card ul {
    margin-top: 30px;
}
.about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.e-input-filter-by-text {
    width: 25em;
    height: 15px;
    border-radius: 8px;
    padding: 20px;
    border:none;
    outline: none;
    font-size: 16px;
    font-family: 'Roboto';
    background-color: rgb(247, 241, 241);
    transition: .2s linear;
}
@media (min-width: 680px) {
    .e-input-filter-by-text {
     /* width: 100vw    */
    }
}
.creator-card {
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 500px;
    border-radius: 16px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.25);
}
.creator-img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    filter: grayscale();
    border: 8px solid white;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.creator-card p {
    padding: 15px;
    margin: 10 auto;
    line-height: 22px;
}
.home-apps h2 {
    color: rgba(15, 15, 15, 0.849);
    font-family: 'Roboto';
    font-size: 25px;
}

.home-apps .nb-link i {
    color: rgb(16, 109, 170);
    background-color: whitesmoke;
    font-size: 45px;
    border-radius: 8px;
    outline: none;
}
.home-apps .nb-link i:hover {
    border:none;
    outline:none;
}
.app-container {
    width: 120px;
    height: 160px;
    background-color: whitesmoke;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: .5s ease;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.25);
}
.app-container:hover {
    transform: translate(0, 5%);
    /* border: 1px solid rgb(104, 104, 194); */
    /* box-shadow:0 0 10px rgba(0, 0, 0, 0.25); */
}

.app-container-nav {
    width: 100px;
    height: 130px;
    background-color: whitesmoke;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: .5s ease;
    /* box-shadow:0 0 10px rgba(0, 0, 0, 0.25); */
}
.app-container-nav:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    background-color: rgba(255, 255, 255, 0.678);
}
.apps-container-nav {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.apps-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    /* width: 60%;   */
}
.appsus-app {
    background-color: white;
    height: auto;
    font-family: 'Roboto'
}

/* Header */

.app-header {
    min-height: 100px;
    border-bottom: 1px solid darkslategray;
    border-top: 1px solid darkslategray;
    padding: 10px 20px;
}

@media (min-width: 680px) {
    .app-header {
        min-height: 60px;
    }
}

.app-header h1 {
    font-family: 'Roboto';
    font-size: 30px;
    padding: 20px;
    flex-grow: 1;
}

.nav-drawer {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    font-size: 20px;
    position: relative;
    transition: .3s ease;
}

.nav-drawer:hover {
    background-color: rgb(222, 222, 222);
}

.nav-drawer nav {
    width: 250px;
    /* height: 300px; */
    position: absolute;
    top: 60px;
    right: 0;
    border: 1px solid gray;
    z-index: 1;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 20px;
    flex-direction: row;
    transition: .3s ease;
    display: flex;
}

.nb-link {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    height: auto;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    transition: all .8s ease;
    border: 1px solid transparent;
}



.nb-link i {
    display: flex;
    flex-direction: column;
    color: rgb(138, 80, 138);
    font-size: 40px;
    margin-bottom: 10px;
}

.nb-link a {
    text-decoration: none;
    text-underline-position: above;
    color: black;
}

.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    margin-left: 20px;
    object-fit: contain;
    border: 1px solid rgb(7, 6, 6, 0.3);
}

.filters-container {
    display: inline;
    /* width: 700px; */
}

/* Footer */

footer {
    height: 60px;
    background-color: white;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer h1 {
    font-size: 20px;
    font-weight: 500;
    color: rgba(48, 44, 44, 0.836);
}

/* helpers */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.column {
    flex-direction: column;
}

.center-all {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between
}

.space-evenly {
    justify-content: space-evenly
}

.space-around {
    justify-content: space-around
}

.center-ver {
    align-items: center;
}

.wrapper {
    width: 980px;
}

.space-between {
    justify-content: space-between
}

.space-evenly {
    justify-content: space-evenly
}

.space-around {
    justify-content: space-around
}

.center-ver {
    align-items: center;
}

/* .wrapper{width: 980px;} */

/* EMAIL */

/* .router-link-active {
    color: white;
} */

/* INBOX */


button:hover {
    cursor: pointer;
}

.e-app {
    display: flex;
    flex-grow: 1;
    font-family: Arial;
    height: 80vh;
}

.e-sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(171, 212, 241);
    /* flex-basis: 15%; */
    padding: 20px;
    /* height: 200px; */
    /* flex-grow: 1; */
    width: 220px;
}
@media (max-width: 680px){
    .e-sidebar { 
        height: 100px !important;
        flex-grow: unset;
        flex-grow: 0.2;

    }
    .e-main-emails {
        flex-grow: unset
    }
    .e-sidebar-btns a{
        margin-top: 20px;
        /* padding: 70px; */
        line-height: 30px;
        width: 80px;
        line-break: auto;
    }
}

.e-sidebar-btns {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 15px;
    /* line-height: 80px; */
    /* height: 200px !important; */
}

.e-sidebar-btn {
    height: 100px;
    /* min-width: 220px; */
    display: inline-flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
}



.e-sidebar-btn i {
    /* padding-top: 40px; */
}

.e-sidebar-btn span {
    padding-left: 15px;
}

.progress {
    margin-top: 15px;
}
@media (max-width :680px){
    progress {
        visibility: hidden;
        margin-bottom: 10px;
        z-index: -1;
        opacity: 0;    
    }  
}
.e-main-emails {
    flex-grow: 1;
}

.e-main-emails a {
    text-decoration: none;
    color: black;
}

.unread {
    font-weight: bold;
}

.grey {
    font-weight: normal;
    color: gray;
}

.e-email-preview {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgb(229, 235, 241);
}

.e-email-preview:hover {
    cursor: pointer;
}

.e-email-preview:hover {
    transition: 0.3s;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.e-email-author {
    flex-basis: 20%;
}

.e-email-content {
    flex-basis: 70%;
}

.e-email-time {
    flex-basis: 10%;
}

.e-envlope {
    display: flex;
    padding: 10px;
}

.e-envlope-body {
    margin-bottom: 30px;
    max-width: 100%;
}

.e-envlope-body-details {
    margin-bottom: 30px;
}

.e-envlope-details {
    flex-grow: 0.1;
}

.e-envlope-buttons button {
    color: grey;
    opacity: 0.7;
}

.e-envlope-buttons button:hover {
    color: black;
    opacity: 1;
    transition: 0.3s;
}

.e-envlope-details h1 {
    padding-bottom: 12px;
    font-size: 1.3em;
}

.e-envlope-body {
    padding-left: 20px;
    padding-top: 12px;
}

.e-details {
    padding: 10px;
}

.e-envlope-body-deatils {
    padding: 10px;
}

.e-envlope-buttons-details {
    padding: 10px;
}

/* COMPOSE */

.e-compose {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: black;
    text-align: center
}

a:focus {
    font-weight: bold;
}

.e-compose-txt {
    font-size: 1em;
    text-decoration: none;
    margin-left: 20px;
}

.e-new-msg {
    /* width: 100%; */
    background-color: rgb(64, 64, 64);
    color: white;
    padding: 10px;
    font-size: 18px;
    line-height: 20px;
}

.e-form {
    flex-grow: 1;
    max-width: 100%;
    border: 1px solid black;
}

.e-input {
    min-width: 98%;
    border: 0px;
    padding: 10px;
}

.e-input:first-child {
    margin-top: 7px;
}

.e-textarea {
    min-width: 98%;
    height: 280px;
    resize: none;
    border: 0px solid black;
}

textarea:focus, input:focus {
    outline: none;
}

.send-btn {
    position: relative;
    color: white;
    background-color: rgb(26, 115, 232);
    margin: 20px;
    width: 100px;
    height: 45px;
    border-radius: 8px;
    font-family: 'Roboto';
    font-weight: bold;
    letter-spacing: 1px;
    transition: .3s ease;
}
.send-btn:hover {
    background-color: rgb(68, 139, 231);
}
.delete-email-btn {
    margin: 20px !important;
    transition: .3s ease;
}
.delete-email-btn:hover {
    transform: rotate(23deg)
}

.flex-btns {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
}

.flex-btns i {
    margin-right: 10px;
}

/* END OF EMAIL */

/*about us*/
/* social links */

ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #222222;
}
ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #fed136;
}

ul.list-inline {
    margin-bottom: 20px;
    list-style-type: none;
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.e-input-filter-by-text {
    height: 13px;
    width: auto;
    border-radius: 8px;
    padding: 20px;
    padding-left: 70px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Roboto';
    background-color: rgb(247, 241, 241);
    transition: .2s linear;
    margin-right: 20px;
}

@media (max-width: 680px) {
    .e-input-filter-by-text {
        display: flex;
        width: 100vw;
        height: 15px;
        border-radius: 8px;
        padding: 20px;
        padding-left: 70px;
        border: none;
        outline: none;
        font-size: 16px;
        font-family: 'Roboto';
        background-color: rgb(247, 241, 241);
        transition: .2s linear;
    }
    .e-app {
        display: flex;
        flex-direction: column;
        /* height: 500px; */
        /* flex-grow: 2; */
    }
    .e-sidebar {
        display: flex;
        flex-direction: column;
        height: 100px !important;
        width: 100vw;
        margin: 0;
        padding: 0;
        /* flex-grow: 1; */
    }
    .e-sidebar-btns {
        margin-top: 50px;
        flex-direction: row;
        width: 100vw;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }
    .e-sidebar-btn {
        display: flex;
        flex-direction: column;
        width: 70px;
        /* height: 100px ; */
        font-size: 14px;
        margin: 0;
    }
  
    .e-main-emails {
        flex-grow: unset;
    }
    .filters-container {
        display: block;
    }
}

/* END OF EMAIL */
