@import url('./reset.css');
@import url('./books.css');
@import url('./keep.css');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background-color: lightgreen;
}

.home-apps {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-grow: 2;
    padding: 50px;
    /* background-color: lightsalmon; */
}

.home-apps h2 {
    color: rgba(15, 15, 15, 0.849);
    font-family: 'Roboto';
    font-size: 25px;
}

.home-apps .nb-link i {
    color: rgb(16, 109, 170);
    background-color: whitesmoke;
    font-size: 45px;
    border-radius: 8px;
    outline: none;
}
.home-apps .nb-link i:hover {
    border:none;
    outline:none;
}
.app-container {
    width: 120px;
    height: 160px;
    background-color: whitesmoke;
    margin: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: .5s ease;
}
.app-container:hover {
    transform: translate(0, 5%);
    /* border: 1px solid rgb(104, 104, 194); */
    box-shadow:0 0 10px rgba(0, 0, 0, 0.25);
    
}

.apps-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    /* width: 60%;   */
}
.appsus-app {
    background-color: white;
    height: 100vh;
    font-family: 'Roboto'
}

/* Header */

.app-header {
    min-height: 100px;
    border-bottom: 1px solid darkslategray;
    border-top: 1px solid darkslategray;
    padding: 10px 20px;
}

@media (min-width: 680px) {
    .app-header {
        min-height: 60px;
    }
}

.app-header h1 {
    font-family: 'Roboto';
    font-size: 30px;
    padding: 20px;
    flex-grow: 1;
}

.nav-drawer {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    font-size: 20px;
    position: relative;
    transition: .3s ease;
}

.nav-drawer:hover {
    background-color: rgb(222, 222, 222);
}

.nav-drawer nav {
    width: 250px;
    height: auto;
    position: absolute;
    top: 60px;
    right: 0;
    border: 1px solid gray;
    z-index: 1;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 20px;
    flex-direction: row;
    transition: .3s ease;
}

.nb-link {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    height: auto;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    transition: all .8s ease;
    border: 1px solid transparent;
}

.nb-link:hover {
    /* border: 1px solid rgb(196, 190, 190); */
}

.nb-link i {
    display: flex;
    flex-direction: column;
    color: rgb(138, 80, 138);
    font-size: 40px;
    margin-bottom: 10px;
}

.nb-link a {
    text-decoration: none;
    text-underline-position: above;
    color: black;
}

.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    margin-left: 20px;
    object-fit: contain;
    border: 1px solid rgb(7, 6, 6, 0.3);
}

.filters-container {
    width: 700px;
}

/* Footer */

footer {
    height: 60px;
    background-color: white;
    border-top: 1px solid gray;
}

/* helpers */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.column {
    flex-direction: column;
}

.center-all {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between
}

.space-evenly {
    justify-content: space-evenly
}

.space-around {
    justify-content: space-around
}

.center-ver {
    align-items: center;
}

.wrapper {
    width: 980px;
}

.space-between {
    justify-content: space-between
}

.space-evenly {
    justify-content: space-evenly
}

.space-around {
    justify-content: space-around
}

.center-ver {
    align-items: center;
}

/* .wrapper{width: 980px;} */

/* EMAIL */

/* .router-link-active {
    color: white;
} */

/* INBOX */

@media (max-width: 680px) {
    .e-app {
        flex-direction: column;
    }
    .e-sidebar {
        flex-direction: row;
    }
    .e-sidebar-btns {
        flex-direction: column;
    }
    .e-sidebar-btn {
        flex-direction: column;
    }
}

button:hover {
    cursor: pointer;
}

.e-app {
    display: flex;
    flex-grow: 1;
    font-family: Arial;
}

.e-sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(171, 212, 241);
    flex-basis: 15%;
    padding: 20px;
}

.e-sidebar-btns {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 15px;
    /* line-height: 80px; */
}

.e-sidebar-btn {
    height: 80px;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;
    align-items: center;
}

.e-sidebar-btn span {
    padding-left: 15px;
}

.e-main-emails {
    flex-grow: 1;
}

.e-main-emails a {
    text-decoration: none;
    color: black;
}

.unread {
    font-weight: bold;
}

.grey {
    font-weight: normal;
    color: gray;
}

.e-email-preview {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgb(229, 235, 241);
}

.e-email-preview:hover {
    cursor: pointer;
}

.e-email-preview:hover {
    transition: 0.3s;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.e-email-author {
    flex-basis: 20%;
}

.e-email-content {
    flex-basis: 70%;
}

.e-email-time {
    flex-basis: 10%;
}

.e-envlope {
    display: flex;
    padding: 10px;
}

.e-envlope-body {
    margin-bottom: 30px;
    max-width: 100%;
}

.e-envlope-body-details {
    margin-bottom: 30px;
}

.e-envlope-details {
    flex-grow: 0.1;
}

.e-envlope-buttons button {
    color: grey;
    opacity: 0.7;
}

.e-envlope-buttons button:hover {
    color: black;
    opacity: 1;
    transition: 0.3s;
}

.e-envlope-details h1 {
    padding-bottom: 12px;
    font-size: 1.3em;
}

.e-envlope-body {
    padding-left: 20px;
    padding-top: 12px;
}

.e-details {
    padding: 10px;
}

.e-envlope-body-deatils {
    padding: 10px;
}

.e-envlope-buttons-details {
    padding: 10px;
}

/* COMPOSE */

.e-compose {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: black;
    text-align: center
}

a:focus {
    font-weight: bold;
}

.e-compose-txt {
    font-size: 1em;
    text-decoration: none;
}

.e-new-msg {
    /* width: 100%; */
    background-color: rgb(64, 64, 64);
    color: white;
    padding: 10px;
}

.e-form {
    flex-grow: 1;
    max-width: 100%;
    border: 1px solid black;
}

.e-input {
    min-width: 98%;
    border: 0px;
    padding: 2px;
}

.e-input:first-child {
    margin-top: 7px;
}

.e-textarea {
    min-width: 98%;
    height: 280px;
    resize: none;
    border: 0px solid black;
}

textarea:focus, input:focus {
    outline: none;
}

.send-btn {
    position: relative;
    color: white;
    background-color: rgb(26, 115, 232);
}

.flex-btns {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
}

.flex-btns i {
    margin-right: 10px;
}

/* END OF EMAIL */